/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

.fill-height {
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}